@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --black: #00035f;
    --red: #F25B43;
    --light-yellow: #F7DB72;
    --yellow: #FAA528;
    --cerise: #C13291;  
    --purple: #793DC3;
    --blue: #67A1CE;
    font-size: 18px;
  }

* {
    box-sizing: border-box;
    margin: 0;
}

h1,
h2,
h3 {
	margin: 0;
	padding: 1em 1rem;
}

p {
	margin: 0;
	padding: 1.5rem 1rem;
}


body {
    font-family: "Roboto", sans-serif;
	line-height: 1.5;
    color: var(--black); 

     
}

.container > * {
    padding: 1em 2em;
}


.container {
    /* Define CSS Grid template here */
    display: grid;
    grid-template-columns: 1fr repeat(6, minmax(100px, 10rem)) 1fr;
    grid-template-rows: auto 1fr auto auto;
    row-gap: 1rem;
    column-gap: 1rem;
}

.header {
    background-color: var(--purple);
    grid-row: 1 / 2;
    grid-column: 1 / 9;
    /* grid-column: 1 / -1; sista kolumnen */
    /* grid-column: 1 / span 8; sträcker sig över sista kolumnen */
}

.main-content {
    background-color: var(--yellow);
    grid-row:  2 / 3;
    grid-column: 2 / span 4;
}

