@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --red: #FF454D;
    --black: #00035f;
  }

* {
    box-sizing:border-box;
    margin: 0;
}

body {

    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: var(--black); 
    margin: 140px 80px;  
}


/* grid container*/
.container {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 50px) 160px repeat(3, 50px);
    grid-template-areas: "header"
                          "nav"
                          "main"
                          "sidebar"
                          "ads"
                          "footer";
gap: 13px;


}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--red);
    border-radius: 10px;
}

nav {
    grid-area: nav;
        display: flex;
    justify-content: center;
    align-items: center;
        border: 2px solid var(--red);
    border-radius: 10px;
}

main {
    grid-area: main;
        display: flex;
    justify-content: center;
    align-items: center;
        border: 2px solid var(--red);
    border-radius: 10px;
}

.sidebar {
    grid-area: sidebar;
        display: flex;
    justify-content: center;
    align-items: center;
        border: 2px solid var(--red);
    border-radius: 10px;
}

.ads {
    grid-area: ads;
        display: flex;
    justify-content: center;
    align-items: center;
        border: 2px solid var(--red);
    border-radius: 10px;

}

footer {
    grid-area: footer;
        display: flex;
    justify-content: center;
    align-items: center;
        border: 2px solid var(--red);
    border-radius: 10px;
}


@media (min-width: 700px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 70px 70px 350px 70px;
        grid-template-areas: "header header header header"
                             "nav nav nav nav"
                             "sidebar main main main"
                             "ads footer footer footer";
    
}
    
}


@media (min-width: 1180px) {
    .container {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 70px 70px 350px 70px;
        grid-template-areas: "header header header header header"
                             "sidebar nav nav nav ads"
                             "sidebar main main main ads"
                             "footer footer footer footer footer";
    
}
    
}